@{
    ViewBag.Title = "Регистрация";
}

<form method="POST" class="form_two_columns">
    <table>
        <tr>
            <td class="td_value_text">
                <b>Логин <span class="required_asterisk">*</span>:<b>
            </td>
            <td>
                <input type="text" name="login" maxlength="32" size="32" value="@Request.Form["login"]" />
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                <b>Пароль <span class="required_asterisk">*</span>:<b>
            </td>
            <td>
                <input type="text" name="password" maxlength="128" size="32" value="@Request.Form["password"]" />
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                <b>Подтверждение пароля <span class="required_asterisk">*</span>:<b>
            </td>
            <td>
                <input type="text" name="password_2" maxlength="128" size="32" value="@Request.Form["password_2"]" />
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                <b>Секретный вопрос:<b>
            </td>
            <td>
                <input type="text" name="secret_question" maxlength="128" size="32" value="@Request.Form["secret_question"]" />
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                <b>Ответ на секретный вопрос:<b>
            </td>
            <td>
                <input type="text" name="secret_answer" maxlength="128" size="32" value="@Request.Form["secret_answer"]" />
            </td>
        </tr>
        @if ((ViewBag.Errors != null) && (ViewBag.Errors.Count != 0))
        {
            <tr>
                <td colspan="2" class="td_errors">
                    @foreach (string error in ViewBag.Errors)
                    {
                        @error<br />
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="2" class="td_buttons">
                <input type="submit" name="ok" value="Зарегистрироваться" /><br />
                @Html.ActionLink("Авторизация", "Authorization", "Main")
            </td>
        </tr>
    </table>
</form>